/*
 * Navbar layout stuff
 */
/* Mobile styles */
nav {
  display: flex;
  justify-content: space-between;
  background:none;
  margin-bottom:-120px;
  z-index: 1000;
  position: sticky;
  top: 0;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  color: #FFFFFF; 
  white-space: nowrap;
}

nav span.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

nav .form-toggle:hover {
  cursor: pointer;
}

nav .form-toggle:hover {
  cursor: pointer;
}

nav .form-toggle .iconify {
  display: block;
  margin: auto;
}

nav .form-toggle:hover .iconify {
  animation-duration: 0.42s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
}

@media only screen and (max-width: 620px) {

  nav {
    font-size: 0.5em;
  }

}

/* Desktop styles */
@media only screen and (min-width: 900px) {

  nav {
    background-color: #4056A1;
    margin:0;
  }

}