/*
 * Navbar layout stuff
 */

nav {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  padding: 1.5em;
  color: #FFFFFF;
  
}

nav span.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

nav .form-toggle {
  float:right;
}
nav .form-toggle .emphasis {
  font-weight: 700;
  font-size: 1.15em;
}
nav .form-toggle .iconify {
  display: block;
  margin: auto;
}