/*
 * Navbar layout stuff
 */

.new-tweet {
  margin-left: auto;
  margin-right: auto;
}
.new-tweet textarea {
  height: 2.25em;
  width: 100%;
  display: block;
  resize:none;
  background-color: inherit;
  border-color: transparent;
  border-bottom-color: #545149;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.new-tweet input {
  margin-top: 0.75em;
  display: inline;
  background-color: #4056a1;
  color: #ffffff;
  font-family: 'Bungee', sans-serif;
}

.new-tweet .counter {
  display: inline;
  float: right;
  margin-top: 0.75em;
  font-family: 'Bungee', sans-serif;
}