/*
 * New Tweet layout stuff
 */

.new-tweet {
  margin-block-start: 2em;
  margin-left: auto;
  margin-right: auto;
}
.new-tweet textarea {
  height: 2.92em;
  width: 100%;
  display: block;
  resize:none;
  background-color: inherit;
  border:none;
  border-bottom-color: #545149;
  border-bottom-style: solid;
  border-bottom-width: 0.186em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.new-tweet input {
  margin-top: 0.75em;
  display: inline;
  background-color: #4056a1;
  color: #ffffff;
  font-family: 'Bungee', sans-serif;
}

.new-tweet .invalid-post {
  display: inline-block;
  float: right;
  margin-top: 0.75em;
  margin-right: 1em;
  margin-left: 1em;
  font-family: 'Bungee', sans-serif;
  color: red;
}

.new-tweet .counter {
  display: inline-block;
  float: right;
  margin-top: 0.75em;
  font-family: 'Bungee', sans-serif;
}

.new-tweet .counter.characterLimit {
  color: red;
}