/*
 * Tweet layout stuff
 */

 /* // TODOs:
 // break footer top-border to have gaps on left and right
 // fix font size to match design
 // fix spacing to match design doc
 //  */

article.tweet {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 100%;
  background-color: #f4f1ec;
  border-color: #545149;
  border-style: solid;
  border-width: 0.186em;
  opacity: 0.85;
}

article.tweet.hover {
  opacity: 1;
  box-shadow: 7px 7px rgba(152, 193, 217, 0.7);
}

article.tweet header {
  background-color: inherit;
  display: inline-block;
  width: 100%;
}
article.tweet header .photo {
  margin: 10px;
  float: left;
}
article.tweet header .username {
  margin: 10px;
  float: left;
}
article.tweet header .handle {
  opacity: 0;
  color: rgba(152, 193, 217, 0.7);
  margin: 10px;
  float: right;
}
article.tweet.hover header .handle {
  opacity: inherit;
}

article.tweet div .tweet-body {
  display: block;
  width: 95%;
  resize:none;
  margin-left: auto;
  margin-right: auto;
}

article.tweet footer{
  border-top-color: #545149;
  border-top-style: solid;
  border-top-width: 0.186em;
  display: inline-block;
  width: 100%;
}
article.tweet footer .age{
  margin: 10px;
  float: left;
}
article.tweet footer .icon{
  margin: 10px;
  float: right;
}