/*
 * Tweet layout stuff
 */

 /* // TODOs:
 // break footer top-border to have gaps on left and right
 // fix font size to match design
 // fix spacing to match design doc
 //  */

.tweet {
  opacity: 0.85;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 0.186em;
  border-color: #545149;
  width: 100%;
  background-color: #f4f1ec;
}
.tweet:hover {
  opacity: 1;
  box-shadow: 7px 7px rgba(152, 193, 217, 0.7);
}


.tweet header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: inherit;
}
.tweet header div {
  display: flex;
  align-items: baseline;
  margin:2%;
}
.tweet header div .avatar {
  margin: 5%;
}
.tweet header div .username {
  font-size: 1.25em;
  margin-left:30px;
  margin: auto;
  white-space: nowrap;
}
.tweet header .handle {
  opacity: 0;
  margin: auto;
  margin-right: 15px;
  white-space: nowrap;
  color: rgba(152, 193, 217, 0.7);
}
.tweet:hover header .handle {
  opacity: inherit;
}


.tweet div.tweet-body {
  display: block;
  overflow-wrap: break-word;
  font-weight: 700;
  margin: 4%;
  margin-top: 0%;
  margin-bottom: 6%;
  width: 96%;
}


.tweet footer {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-top-color: #545149;
  border-top-style: solid;
  border-top-width: 0.186em;
  width: 98%;
}
.tweet footer span {
  align-self: flex-start;
  font-size: 0.75em;
  margin: 10px;
}
.tweet footer .tweet-actions svg {
  margin: 10px;
  margin-right: 20px;
  
}