/*
 * Tweet layout stuff
 */

 /* // TODOs:
 // break footer top-border to have gaps on left and right
 // fix font size to match design
 // fix spacing to match design doc
 //  */

.tweet {
  opacity: 0.85;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 0.186em;
  border-color: #545149;
  width: 100%;
  background-color: #f4f1ec;
}
.tweet:hover {
  opacity: 1;
  box-shadow: 7px 7px rgba(152, 193, 217, 0.7);
}


.tweet header {
  display: inline-block;
  width: 100%;
  background-color: inherit;
}
.tweet header .avatar {
  float: left;
  margin: 10px;
}
.tweet header .username {
  float: left;
  margin: 10px;
}
.tweet header .handle {
  float: right;
  opacity: 0;
  margin: 10px;
  color: rgba(152, 193, 217, 0.7);
}
.tweet:hover header .handle {
  opacity: inherit;
}


.tweet div.tweet-body {
  display: block;
  overflow-wrap: break-word;
  margin: 10px;
  width: 96%;
}


.tweet footer {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-top-color: #545149;
  border-top-style: solid;
  border-top-width: 0.186em;
  width: 100%
}
.tweet footer span {
  float: left;
  margin: 10px;
}
.tweet footer a {
  float: right;
  margin: 10px;
}